#shlokaSearchDiv          {
	margin: 0.4rem;
	padding: 0.5rem;
	border: solid;
	border-radius: 3px;
	border-color: grey;
	display: flex;

	flex-flow: row wrap;  }


#shlokaSearchDiv .inputBox     {
	min-width:8rem;
	width: 8rem;
	padding:0px 4px;
	margin:0.2rem 0.2rem;
	box-sizing: border-box;
	height: 20px;
	flex: 1 1 auto;            }


#shlokaSearchDiv .button {
	border-style: solid;
	border-width: 1.5px;
	border-color: blue;
	color: blue;
	border-radius: 4px;
	height: 20px;
	text-transform: uppercase;
	font-size: 1.01rem;
	text-align: center; }


#shlokaSearchDiv .button:hover {
	background-color: #0e1113;
	border-color: #0e1113;
	display: none;
	
	color: white;  }


#shlokaSearchDiv .button:active {
	background-color: initial;
	border-color: blue;
	color: blue;  }

